In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [27]:
df=pd.read_csv('Development_sample_2.csv')
#/C:/myfolder/Deverlopment_sample_2.csv

In [28]:
print(df)

      Unnamed: 0      ID FLAGBINARY                  PHONE        MSTAT  \
0              0     1.0        Bad      Home number given       Single
1              1     2.0       Good      Home number given       Single
2              2     3.0        Bad  No phone number given      Married
3              3     5.0        Bad  No phone number given      Widowed
4              4     6.0       Good      Home number given      Married
...          ...     ...        ...                    ...          ...
4995        4995  6993.0        Bad      Home number given       Single
4996        4996  6994.0       Good      Home number given      Married
4997        4997  6997.0       Good  No phone number given     Divorced
4998        4998  6998.0       Good      Home number given      Married
4999        4999  7000.0       Good      Home number given  Co-habiting

              RSTAT  KIDS                    CARDI CARDH2   AGE  ...  \
0      Renting flat   0.0  No card insurance taken     No  65.0  ...
1      Renting flat   0.0  No card insurance taken     No  22.0  ...
2     Renting house   3.0  No card insurance taken     No  41.0  ...
3        Home owner   6.0  No card insurance taken     No  40.0  ...
4      Renting flat   0.0  No card insurance taken     No  70.0  ...
...             ...   ...                      ...    ...   ...  ...
4995   Renting flat   0.0  No card insurance taken     No  24.0  ...
4996   Renting flat   1.0  No card insurance taken     No  34.0  ...
4997     Home owner   2.0  No card insurance taken     No  35.0  ...
4998   Renting flat   2.0  No card insurance taken     No  39.0  ...
4999   Renting flat   1.0  No card insurance taken     No  25.0  ...

      AgeGrouped  Age_d_1  Age_d_2  Age_d_3  Age_d_4  Age_d_5  Age_d_6  \
0           10.0      0.0      0.0      0.0      0.0      0.0      0.0
1            1.0      1.0      0.0      0.0      0.0      0.0      0.0
2            6.0      0.0      0.0      0.0      0.0      0.0      1.0
3            6.0      0.0      0.0      0.0      0.0      0.0      1.0
4           10.0      0.0      0.0      0.0      0.0      0.0      0.0
...          ...      ...      ...      ...      ...      ...      ...
4995         2.0      0.0      1.0      0.0      0.0      0.0      0.0
4996         5.0      0.0      0.0      0.0      0.0      1.0      0.0
4997         6.0      0.0      0.0      0.0      0.0      0.0      1.0
4998         6.0      0.0      0.0      0.0      0.0      0.0      1.0
4999         2.0      0.0      1.0      0.0      0.0      0.0      0.0

      Age_d_7  Age_d_8 AgeWoe
0         0.0      1.0   1.13
1         0.0      0.0  -0.93
2         0.0      0.0   0.23
3         0.0      0.0   0.23
4         0.0      1.0   1.13
...       ...      ...    ...
4995      0.0      0.0  -0.69
4996      0.0      0.0   0.47
4997      0.0      0.0   0.23
4998      0.0      0.0   0.23
4999      0.0      0.0  -0.69

[5000 rows x 30 columns]

In [5]:
df['PHONE'].value_counts()

Home number given        4633
No phone number given     351
'Other number given        16
Name: PHONE, dtype: int64

In [29]:
cross1=pd.crosstab(df['PHONE'],df['FLAGBINARY'],margins=True,margins_name='Total')
cross2=pd.crosstab(df['PHONE'],df['FLAGBINARY'],normalize='index')

In [32]:
print(cross1)

FLAGBINARY             Bad  Good  Total
PHONE
'Other number given      2    14     16
Home number given      645  3988   4633
No phone number given  100   251    351
Total                  747  4253   5000

In [8]:
#c, p, dof, expected = stats.chi2_contingency(cross2)
value = np.array([cross1.iloc[0][0:2].values,
                  cross1.iloc[1][0:2].values])
print(value)

[[   2   14]
 [ 645 3988]]

In [33]:
print(stats.chi2_contingency(cross1)[0:3])
#scipy.stats.chi2_contingency
#statistic,p-value,dof

(54.566230918555135, 5.671012146955914e-10, 6)

In [10]:
stats.chi2_contingency(cross1)

In [11]:
c

54.566230918555135

In [13]:
p

5.671012146955914e-10

In [14]:
expected

array([[2.3904000e+00, 1.3609600e+01, 1.6000000e+01],
       [6.9217020e+02, 3.9408298e+03, 4.6330000e+03],
       [5.2439400e+01, 2.9856060e+02, 3.5100000e+02],
       [7.4700000e+02, 4.2530000e+03, 5.0000000e+03]])

In [15]:
#df['Phone1']=df['PHONE']
#2 and 0 : no phone given => 0
#1: Home phone given

In [35]:
df.loc[df['PHONE']=='Home number given','Phone1']=1
df.loc[df['PHONE']!='Home number given','Phone1']=0
#df['Phone1']=0
#df.loc[df['PHONE']=='Home number given','Phone1']=1

In [36]:
print(df['Phone1'])

0       1.0
1       1.0
2       0.0
3       0.0
4       1.0
       ...
4995    1.0
4996    1.0
4997    0.0
4998    1.0
4999    1.0
Name: Phone1, Length: 5000, dtype: float64

In [38]:
pd.crosstab(df['Phone1'],df['FLAGBINARY'],margins=True,margins_name='Total')
pd.crosstab(df['Phone1'],df['FLAGBINARY'],normalize='index')

FLAGBINARY       Bad      Good
Phone1
0.0         0.277929  0.722071
1.0         0.139219  0.860781

In [39]:
df.loc[df['Phone1']==1,'PhoneWoe']=0.08
df.loc[df['Phone1']==0,'PhoneWoe']=-0.79

In [40]:
print(df['PhoneWoe'])

0       0.08
1       0.08
2      -0.79
3      -0.79
4       0.08
        ...
4995    0.08
4996    0.08
4997   -0.79
4998    0.08
4999    0.08
Name: PhoneWoe, Length: 5000, dtype: float64

In [43]:
pd.crosstab(df['MSTAT'],df['FLAGBINARY'],margins=True,margins_name='Total')
pd.crosstab(df['MSTAT'],df['FLAGBINARY'],normalize='index')

FLAGBINARY        Bad      Good
MSTAT
Co-habiting  0.136986  0.863014
Divorced     0.163895  0.836105
Married      0.101301  0.898699
Single       0.224842  0.775158
Widowed      0.063694  0.936306

In [44]:
df.loc[(df['MSTAT']=='Co-habiting')|(df['MSTAT']=='Divorced'),'MSgrouped']=3
df.loc[df['MSTAT']=='Single','MSgrouped']=2
df.loc[(df['MSTAT']=='Married')|(df['MSTAT']=='Widowed'),'MSgrouped']=1
#&:and |:or !=:unequal
'''
df.loc[(df['MSTAT']=='Co-habiting'),'MSgrouped']=3
df.loc[(df['MSTAT']=='Divored'),'MSgrouped']=3
df.loc[(df['MSTAT']=='Single'),'MSgrouped']=2
df.loc[(df['MSTAT']=='Married'),'MSgrouped']=1
df.loc[(df['MSTAT']=='Widowed'),'MSgrouped']=1
'''

"\ndf.loc[(df['MSTAT']=='Co-habiting'),'MSgrouped']=3\ndf.loc[(df['MSTAT']=='Divored'),'MSgrouped']=3\ndf.loc[(df['MSTAT']=='Single'),'MSgrouped']=2\ndf.loc[(df['MSTAT']=='Married'),'MSgrouped']=1\ndf.loc[(df['MSTAT']=='Widowed'),'MSgrouped']=1\n"

In [45]:
print(df['MSgrouped'])

0       2.0
1       2.0
2       1.0
3       1.0
4       1.0
       ...
4995    2.0
4996    1.0
4997    3.0
4998    1.0
4999    3.0
Name: MSgrouped, Length: 5000, dtype: float64

In [46]:
df['Married1']=0
df['Married2']=0
df.loc[df['MSgrouped']==1,'Married1']=1
df.loc[df['MSgrouped']==2,'Married2']=1

In [47]:
print(df['Married1'],df['Married2'])

0       0
1       0
2       1
3       1
4       1
       ..
4995    0
4996    1
4997    0
4998    1
4999    0
Name: Married1, Length: 5000, dtype: int64 0       1
1       1
2       0
3       0
4       0
       ..
4995    1
4996    0
4997    0
4998    0
4999    0
Name: Married2, Length: 5000, dtype: int64

In [48]:
pd.crosstab(df['MSgrouped'],df['FLAGBINARY'],margins=True,margins_name='Total')

FLAGBINARY  Bad  Good  Total
MSgrouped
1.0         267  2427   2694
2.0         391  1348   1739
3.0          89   478    567
Total       747  4253   5000

In [26]:
import math
print(math.log(2427*747/(287*4253))) #0.40
print(math.log(1348*747/(391*4253))) #-0.50
print(math.log(478*747/(89*4253))) #-0.06

0.3956142798461641
-0.5016449786339295
-0.05834034736150013

In [49]:
df['MSgroupedWOE']=0

In [51]:
df.loc[(df['MSgrouped']==1),'MSgroupedWOE']=0.40
df.loc[(df['MSgrouped']==2),'MSgroupedWOE']=-0.50
df.loc[(df['MSgrouped']==3),'MSgroupedWOE']=-0.06

In [52]:
print(df['MSgroupedWOE'])

0      -0.50
1      -0.50
2       0.40
3       0.40
4       0.40
        ...
4995   -0.50
4996    0.40
4997   -0.06
4998    0.40
4999   -0.06
Name: MSgroupedWOE, Length: 5000, dtype: float64

In [53]:
df.to_csv('test.csv',index='False')